LOCATE COMP "clk_125mhz" SITE "L19";
IOBUF PORT "clk_125mhz" IO_TYPE=LVCMOS25;

LOCATE COMP "phy_rx_clk" SITE "L20";
LOCATE COMP "phy_rxd[0]" SITE "T20";
LOCATE COMP "phy_rxd[1]" SITE "U20";
LOCATE COMP "phy_rxd[2]" SITE "T19";
LOCATE COMP "phy_rxd[3]" SITE "R18";
LOCATE COMP "phy_rx_ctl" SITE "U19";
LOCATE COMP "phy_tx_clk" SITE "P19";
LOCATE COMP "phy_txd[0]" SITE "N19";
LOCATE COMP "phy_txd[1]" SITE "N20";
LOCATE COMP "phy_txd[2]" SITE "P18";
LOCATE COMP "phy_txd[3]" SITE "P20";
LOCATE COMP "phy_tx_ctl" SITE "R20";
LOCATE COMP "phy_reset_n" SITE "U17";
IOBUF PORT "phy_rx_clk" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_rxd[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_rxd[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_rxd[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_rxd[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_rx_ctl" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_tx_clk" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_txd[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_txd[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_txd[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_txd[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_tx_ctl" IO_TYPE=LVCMOS25;
IOBUF PORT "phy_reset_n" IO_TYPE=LVCMOS25;

LOCATE COMP "led[0]" SITE "E16";
LOCATE COMP "led[1]" SITE "D17";
LOCATE COMP "led[2]" SITE "D18";
LOCATE COMP "led[3]" SITE "E18";
LOCATE COMP "led[4]" SITE "F17";
LOCATE COMP "led[5]" SITE "F18";
LOCATE COMP "led[6]" SITE "E17";
LOCATE COMP "led[7]" SITE "F16";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "uart_txd" SITE "A11";
LOCATE COMP "uart_rxd" SITE "C11";
IOBUF PORT "uart_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rxd" IO_TYPE=LVCMOS33;
